{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<br><br><br><br>
            <div class="wrapper-main">
                <h1><span id="name">EMD Watson Team contacts</span></h1>
                    <table cellpadding="10">
                        
                    <tr>
                        <th>Team</th>
                        <th>Emails</th>
                        <th>Linkedin</th>
                        <th>Contact numbers</th>
                    </tr>
                    <tr>
                        <td><img class="img_f" src="/static/gary.png" alt="..."></td>
                        <td>Gary.Coty@ibm.com</td>
                        <td>...</td>
                        <td>1 (318) 737-0101</td>
                    </tr>
                            <tr>
                                <td><img class="img_f" src="/static/clarence.png" alt="..."></td>
                                <td>Clarence.Gray@ibm.com</td>
                                <td>https://www.linkedin.com/in/clarence-gray-3ba106122/</td>
                                <td>1 (318) 348-9185</td>
                            </tr>
                                <tr>
                                <td><img class="img_f" src="/static/alyona.png" alt="..."></td>
                                <td>Alyona.Hill@ibm.com</td>
                                <td>...</td>
                                <td>1 (850) 238-1090</td>
                                
                                </tr>
                                    <tr>
                                    <td><img class="img_f" src="/static/chez.png" alt="..."></td>
                                    <td>Chez.Middleton@ibm.com</td>
                                    <td>...</td>
                                    <td>...</td>
                                    
                                    </tr>
                                    <tr>
                                        <td><img class="img_f" src="/static/daniel.png" alt="..."></td>
                                        <td>Daniel.Mulligan@ibm.com</td>
                                        <td>...</td>
                                        <td>1 (318) 497-2876</td>
                                        
                                        </tr>
                                        <tr>
                                            <td><img class="img_f" src="/static/zach.png" alt="..."></td>
                                            <td>Zach.Broussard@ibm.com</td>
                                            <td>...</td>
                                            <td>1 (337) 250-7435</td>
                                            
                                            </tr>
                                            <tr>
                                                <td><img class="img_f" src="/static/ty.png" alt="..."></td>
                                                <td>Ty.Teachout@ibm.com</td>
                                                <td>...</td>
                                                <td>1 (337) 305-0398</td>
                                                
                                                </tr>
                                                <tr>
                                                    <td><img class="img_f" src="/static/jasmin.png" alt="..."></td>
                                                    <td>Jasmin.Williams@ibm.com</td>
                                                    <td>...</td>
                                                    <td>1 (504) 487-1086</td>
                                                    
                                                    </tr>
                                </table>
                            </div>

{% endblock %}
